In [84]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as ptl
%matplotlib inline
import seaborn as sns

In [85]:
#converting text data to dataframe
df = pd.read_csv('prowess_bank_data.txt', sep='\t', header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,36,37,38,39,40,41,42,43,44,45
0,sa_finance1_cocode,sa_company_name,sa_finance1_year,sa_ann_rep_months,sa_fs_format,sa_pct_shares_hld_govt,sa_bd_tot_risk_wt_ast_and_contingencies,sa_bsl_cap_adeq_ratio,sa_bsl_t1_cap_adeq_ratio,sa_bsl_tot_elg_cap,...,sa_bd_gross_npa_rbi,sa_bd_divergence_gross_npa,sa_bd_net_npa_bank,sa_bd_net_npa_rbi,sa_bd_divergence_net_npa,sa_bd_credit_deposit_ratio,sa_net_int_margin,sa_bd_int_spread,sa_bd_avg_ret_on_adv,sa_bd_avg_cost_of_deposits
1,4800,ABHYUDAYA CO-OP. BANK LTD.,20090331,12,IGAAP,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4800,ABHYUDAYA CO-OP. BANK LTD.,20100331,12,IGAAP,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.51
3,4800,ABHYUDAYA CO-OP. BANK LTD.,20110331,12,IGAAP,NaN,38351.7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.77,NaN,NaN,5.9
4,4800,ABHYUDAYA CO-OP. BANK LTD.,20120331,12,IGAAP,NaN,46051.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.27,NaN,NaN,6.89

In [86]:
#Correcting the column names
df.rename(columns=df.iloc[0], inplace = True)
df.drop([0], inplace = True)
df.head()

,sa_finance1_cocode,sa_company_name,sa_finance1_year,sa_ann_rep_months,sa_fs_format,sa_pct_shares_hld_govt,sa_bd_tot_risk_wt_ast_and_contingencies,sa_bsl_cap_adeq_ratio,sa_bsl_t1_cap_adeq_ratio,sa_bsl_tot_elg_cap,...,sa_bd_gross_npa_rbi,sa_bd_divergence_gross_npa,sa_bd_net_npa_bank,sa_bd_net_npa_rbi,sa_bd_divergence_net_npa,sa_bd_credit_deposit_ratio,sa_net_int_margin,sa_bd_int_spread,sa_bd_avg_ret_on_adv,sa_bd_avg_cost_of_deposits
1,4800,ABHYUDAYA CO-OP. BANK LTD.,20090331,12,IGAAP,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4800,ABHYUDAYA CO-OP. BANK LTD.,20100331,12,IGAAP,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.51
3,4800,ABHYUDAYA CO-OP. BANK LTD.,20110331,12,IGAAP,NaN,38351.7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.77,NaN,NaN,5.9
4,4800,ABHYUDAYA CO-OP. BANK LTD.,20120331,12,IGAAP,NaN,46051.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.27,NaN,NaN,6.89
5,4800,ABHYUDAYA CO-OP. BANK LTD.,20130331,12,IGAAP,NaN,56843.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.8

In [87]:
df

,sa_finance1_cocode,sa_company_name,sa_finance1_year,sa_ann_rep_months,sa_fs_format,sa_pct_shares_hld_govt,sa_bd_tot_risk_wt_ast_and_contingencies,sa_bsl_cap_adeq_ratio,sa_bsl_t1_cap_adeq_ratio,sa_bsl_tot_elg_cap,...,sa_bd_gross_npa_rbi,sa_bd_divergence_gross_npa,sa_bd_net_npa_bank,sa_bd_net_npa_rbi,sa_bd_divergence_net_npa,sa_bd_credit_deposit_ratio,sa_net_int_margin,sa_bd_int_spread,sa_bd_avg_ret_on_adv,sa_bd_avg_cost_of_deposits
1,4800,ABHYUDAYA CO-OP. BANK LTD.,20090331,12,IGAAP,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4800,ABHYUDAYA CO-OP. BANK LTD.,20100331,12,IGAAP,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.51
3,4800,ABHYUDAYA CO-OP. BANK LTD.,20110331,12,IGAAP,NaN,38351.7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.77,NaN,NaN,5.9
4,4800,ABHYUDAYA CO-OP. BANK LTD.,20120331,12,IGAAP,NaN,46051.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.27,NaN,NaN,6.89
5,4800,ABHYUDAYA CO-OP. BANK LTD.,20130331,12,IGAAP,NaN,56843.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,580124,FINO PAYMENTS BANK LTD.,20150331,12,IGAAP,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1305,580124,FINO PAYMENTS BANK LTD.,20160331,12,INDAS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1306,580124,FINO PAYMENTS BANK LTD.,20170331,12,IGAAP,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1307,580124,FINO PAYMENTS BANK LTD.,20180331,12,IGAAP,NaN,NaN,206.32,206.32,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1308,597332,S B M BANK (INDIA) LTD.,20190331,12,IGAAP,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
df['Year'] = df['sa_finance1_year'].str.slice(0,4)
df['Year']

1       2009
2       2010
3       2011
4       2012
5       2013
        ...
1304    2015
1305    2016
1306    2017
1307    2018
1308    2019
Name: Year, Length: 1308, dtype: object

In [89]:
df['Year'].describe

<bound method NDFrame.describe of 1       2009
2       2010
3       2011
4       2012
5       2013
        ...
1304    2015
1305    2016
1306    2017
1307    2018
1308    2019
Name: Year, Length: 1308, dtype: object>

In [90]:
df['Year'] = df['Year'].astype(int)

In [91]:
df['Year'].describe

<bound method NDFrame.describe of 1       2009
2       2010
3       2011
4       2012
5       2013
        ...
1304    2015
1305    2016
1306    2017
1307    2018
1308    2019
Name: Year, Length: 1308, dtype: int32>

In [92]:
df_2015 = df[df['Year']==2015]
df_2016 = df[df['Year']==2016]
df_2017 = df[df['Year']==2017]
df_2018 = df[df['Year']==2018]
df_2019 = df[df['Year']==2019]

In [93]:
df_2019

,sa_finance1_cocode,sa_company_name,sa_finance1_year,sa_ann_rep_months,sa_fs_format,sa_pct_shares_hld_govt,sa_bd_tot_risk_wt_ast_and_contingencies,sa_bsl_cap_adeq_ratio,sa_bsl_t1_cap_adeq_ratio,sa_bsl_tot_elg_cap,...,sa_bd_divergence_gross_npa,sa_bd_net_npa_bank,sa_bd_net_npa_rbi,sa_bd_divergence_net_npa,sa_bd_credit_deposit_ratio,sa_net_int_margin,sa_bd_int_spread,sa_bd_avg_ret_on_adv,sa_bd_avg_cost_of_deposits,Year
19,4950,ABU DHABI COMMERCIAL BANK LTD.,20190331,12,IGAAP,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
31,11019,ALLAHABAD BANK,20190331,12,IGAAP,85.82,NaN,12.51,9.68,NaN,...,11287,122291,129383,7092,76.32,2.58,NaN,7.89,5.1,2019
42,15214,ANDHRA BANK,20190331,12,IGAAP,90.85,NaN,NaN,NaN,NaN,...,1098,126368.7,121651.7,-4717,81.29,3.31,NaN,8.54,5.53,2019
53,18056,APNA SAHAKARI BANK LTD.,20190331,12,IGAAP,NaN,27180.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.06,2019
64,18647,A B BANK LTD.,20190331,12,IGAAP,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1291,560614,UTKARSH SMALL FINANCE BANK LTD.,20190331,12,IGAAP,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
1294,569422,ESAF SMALL FINANCE BANK LTD.,20190331,12,IGAAP,NaN,40322.2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
1297,576395,N S D L PAYMENTS BANK LTD.,20190331,12,IGAAP,NaN,NaN,231.06,231.06,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
1300,579338,NORTH EAST SMALL FINANCE BANK LTD.,20190331,12,IGAAP,NaN,NaN,22.82,22.27,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
1308,597332,S B M BANK (INDIA) LTD.,20190331,12,IGAAP,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019

In [103]:
df_2015.rename(columns={'sa_company_name': 'Company'}, inplace=True)
df_2016.rename(columns={'sa_company_name': 'Company'}, inplace=True)
df_2017.rename(columns={'sa_company_name': 'Company'}, inplace=True)
df_2018.rename(columns={'sa_company_name': 'Company'}, inplace=True)
df_2019.rename(columns={'sa_company_name': 'Company'}, inplace=True)

In [95]:
df_index_2019 = pd.read_excel('index_data_2019.xlsx', index_col=0)
df_index_2019.drop(['Unnamed: 9', 'Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13'], axis=1, inplace=True)
df_index_2019=df_index_2019.reset_index()
df_index_2019

,Company,Sector,gen_index,educ_index,exp_index,ten_index,age_index,z_total_index,Quartiles
0,IDFC FIRST BANK LTD.,PRIVATE,0.979592,0.181406,0.183673,0.308390,0.612245,-3.340497,Q1
1,BANDHAN BANK LTD.,PRIVATE,0.987654,0.395062,0.308642,0.277778,0.660494,-2.196645,NaN
2,I C I C I BANK LTD.,PRIVATE,0.974400,0.510000,0.193600,0.597600,0.608800,-1.579777,NaN
3,INDUSIND BANK LTD.,PRIVATE,0.985600,0.640000,0.129600,0.518400,0.435200,-1.554394,NaN
4,KARNATAKA BANK LTD.,PRIVATE,0.994083,0.852071,0.119822,0.511834,0.310651,-0.986984,NaN
5,AU SMALL FINANCE BANK LTD.,PRIVATE,0.991735,0.595041,0.033058,0.661157,0.314049,-0.977081,NaN
6,KARUR VYSYA BANK LTD.,PRIVATE,0.998521,0.520710,0.023669,0.639053,0.269231,-0.918575,NaN
7,AXIS BANK LTD.,PRIVATE,0.985128,0.390839,0.085663,0.647234,0.590125,-0.848999,NaN
8,YES BANK LTD.,PRIVATE,0.989298,0.424495,0.118906,0.653983,0.565993,-0.521029,NaN
9,D C B BANK LTD.,PRIVATE,0.993600,0.360000,0.014400,0.601600,0.595200,-0.472367,NaN
10,I D B I BANK LTD.,PRIVATE,0.994898,0.325255,0.168686,0.660076,0.531250,-0.425756,Q2
11,LAKSHMI VILAS BANK LTD.,PRIVATE,0.996094,0.609375,0.165039,0.654297,0.447266,-0.084954,NaN
12,BANK OF BARODA,PUBLIC,0.993056,0.533056,0.173611,0.659444,0.546111,-0.047295,NaN
13,UNITED BANK OF INDIA,PUBLIC,0.982222,0.802469,0.031605,0.636049,0.631111,-0.043245,NaN
14,CANARA BANK,PUBLIC,0.987253,0.716701,0.137617,0.644641,0.580645,-0.015373,NaN
15,FEDERAL BANK LTD.,PRIVATE,0.995838,0.662851,0.300728,0.636837,0.480749,0.067273,NaN
16,STATE BANK OF INDIA,PUBLIC,0.992653,0.673469,0.066123,0.639592,0.532245,0.075773,NaN
17,KOTAK MAHINDRA BANK LTD.,PRIVATE,0.997934,0.402893,0.002066,0.599174,0.648760,0.168975,NaN
18,BANK OF INDIA,PUBLIC,0.988037,0.683594,0.054932,0.639160,0.634766,0.171342,NaN
19,SOUTH INDIAN BANK LTD.,PRIVATE,0.998400,0.840000,0.129600,0.620800,0.403200,0.251656,Q3
20,CORPORATION BANK,PUBLIC,0.995404,0.687159,0.126688,0.625108,0.537776,0.268595,NaN
21,H D F C BANK LTD.,PRIVATE,0.994083,0.621302,0.036982,0.642012,0.576923,0.269729,NaN
22,INDIAN OVERSEAS BANK,PUBLIC,0.990754,0.821006,0.119822,0.629438,0.565089,0.344117,NaN
23,BANK OF MAHARASHTRA,PUBLIC,0.989588,0.865056,0.081633,0.613078,0.598917,0.412311,NaN
24,R B L BANK LTD.,PRIVATE,0.997230,0.601108,0.069252,0.637119,0.570637,0.416222,NaN
25,INDIAN BANK,PUBLIC,0.993600,0.708400,0.102400,0.663200,0.578400,0.537911,NaN
26,ALLAHABAD BANK,PUBLIC,0.993701,0.816326,0.183673,0.644999,0.543714,0.548506,NaN
27,CENTRAL BANK OF INDIA,PUBLIC,0.988920,0.822715,0.111111,0.650046,0.634657,0.601832,NaN
28,ANDHRA BANK,PUBLIC,0.994083,0.852071,0.195636,0.606509,0.582101,0.625931,Q4
29,CITY UNION BANK LTD.,PRIVATE,0.996540,0.581315,0.086505,0.650519,0.657439,0.750626,NaN
30,PUNJAB NATIONAL BANK,PUBLIC,0.993281,0.773985,0.060468,0.657350,0.640150,0.888900,NaN
31,UNION BANK OF INDIA,PUBLIC,0.996213,0.675976,0.172544,0.658935,0.645680,0.928181,NaN
32,SYNDICATE BANK,PUBLIC,0.995244,0.766944,0.143876,0.659334,0.618906,0.944991,NaN
33,JAMMU & KASHMIR BANK LTD.,PRIVATE,0.997732,0.795351,0.045918,0.611111,0.624717,0.982828,NaN
34,DHANLAXMI BANK LTD.,PRIVATE,0.991735,0.912707,0.012913,0.648760,0.631198,0.997175,NaN
35,UCO BANK,PUBLIC,0.996672,0.880177,0.083210,0.639053,0.592456,1.093620,NaN
36,ORIENTAL BANK OF COMMERCE,PUBLIC,0.995700,0.912927,0.026874,0.623488,0.643913,1.229750,NaN
37,PUNJAB & SIND BANK,PUBLIC,0.996672,0.916790,0.013314,0.644231,0.648669,1.436727,NaN

In [96]:
df_index_2018 = pd.read_excel('index_data_2018.xlsx', index_col=0)
df_index_2018.drop(['Unnamed: 9', 'Unnamed: 10','Unnamed: 11','Unnamed: 12'], axis=1, inplace=True)
df_index_2018=df_index_2018.reset_index()

df_index_2017 = pd.read_excel('index_data_2017.xlsx', index_col=0)
df_index_2017.drop(['Unnamed: 9', 'Unnamed: 10','Unnamed: 11','Unnamed: 12'], axis=1, inplace=True)
df_index_2017=df_index_2017.reset_index()

df_index_2016 = pd.read_excel('index_data_2016.xlsx', index_col=0)
df_index_2016.drop(['Unnamed: 9', 'Unnamed: 10','Unnamed: 11'], axis=1, inplace=True)
df_index_2016=df_index_2016.reset_index()

df_index_2015 = pd.read_excel('index_data_2015.xlsx', index_col=0)
df_index_2015.drop(['Unnamed: 9', 'Unnamed: 10','Unnamed: 11'], axis=1, inplace=True)
df_index_2015=df_index_2015.reset_index()

In [108]:
df_index_2015

,Company,Sector,gen_index,educ_index,exp_index,ten_index,age_index,z_total_index,Quartiles
0,UNITED BANK OF INDIA,PUBLIC,0.970612,0.901224,0.013061,0.548571,0.499592,-2.265596,Q1
1,KARUR VYSYA BANK LTD.,PRIVATE,0.997732,0.555555,0.036281,0.648526,0.090703,-2.135409,NaN
2,I C I C I BANK LTD.,PRIVATE,0.980710,0.591821,0.151235,0.606482,0.486111,-1.656071,NaN
3,INDIAN BANK,PUBLIC,0.996914,0.826389,0.111111,0.523148,0.313271,-1.547519,NaN
4,LAKSHMI VILAS BANK LTD.,PRIVATE,0.997934,0.650826,0.074380,0.483471,0.458678,-1.534892,NaN
5,YES BANK LTD.,PRIVATE,0.996914,0.478395,0.049383,0.648148,0.277778,-1.306864,NaN
6,D C B BANK LTD.,PRIVATE,0.992439,0.317580,0.017013,0.642722,0.453686,-1.164890,NaN
7,CITY UNION BANK LTD.,PRIVATE,0.994083,0.621302,0.147929,0.556213,0.461538,-1.107970,NaN
8,AXIS BANK LTD.,PRIVATE,0.985308,0.426079,0.091827,0.661157,0.495868,-1.028011,NaN
9,KOTAK MAHINDRA BANK LTD.,PRIVATE,0.996540,0.501730,0.003460,0.602076,0.484429,-0.562452,NaN
10,INDUSIND BANK LTD.,PRIVATE,0.990000,0.640000,0.160000,0.635000,0.480000,-0.402395,Q2
11,CANARA BANK,PUBLIC,0.990000,0.769600,0.176400,0.650400,0.403200,-0.320860,NaN
12,H D F C BANK LTD.,PRIVATE,0.990930,0.555555,0.056689,0.662131,0.471655,-0.296433,NaN
13,CENTRAL BANK OF INDIA,PUBLIC,0.987654,0.840000,0.111111,0.630123,0.458272,-0.233069,NaN
14,BANK OF BARODA,PUBLIC,0.997934,0.650826,0.273244,0.604339,0.447314,-0.214417,NaN
15,ING VYSYA BANK LTD.,PRIVATE,0.995556,0.888889,0.000000,0.631111,0.320000,-0.211060,NaN
16,STATE BANK OF TRAVANCORE,PUBLIC,0.994375,0.960000,0.040000,0.545000,0.498750,-0.031182,NaN
17,I D B I BANK LTD.,PRIVATE,0.996735,0.448163,0.160000,0.653061,0.499592,-0.019457,NaN
18,STATE BANK OF INDIA,PUBLIC,0.997130,0.673469,0.071747,0.622449,0.468750,0.114800,NaN
19,FEDERAL BANK LTD.,PRIVATE,0.993600,0.686400,0.270400,0.665600,0.435200,0.131458,NaN
20,UNION BANK OF INDIA,PUBLIC,0.996252,0.739692,0.239900,0.636401,0.439817,0.210104,Q3
21,PUNJAB & SIND BANK,PUBLIC,0.994646,0.951814,0.014872,0.582986,0.475907,0.269087,NaN
22,CORPORATION BANK,PUBLIC,0.996400,0.729600,0.102400,0.658400,0.431200,0.395824,NaN
23,BANK OF INDIA,PUBLIC,0.996540,0.778547,0.038447,0.645905,0.430604,0.399296,NaN
24,ALLAHABAD BANK,PUBLIC,0.996672,0.804364,0.195636,0.650148,0.410503,0.411931,NaN
25,DENA BANK,PUBLIC,0.996540,0.719723,0.098424,0.626682,0.499808,0.428012,NaN
26,SYNDICATE BANK,PUBLIC,0.995351,0.772211,0.250000,0.639463,0.478306,0.488125,NaN
27,ORIENTAL BANK OF COMMERCE,PUBLIC,0.996540,0.924644,0.009612,0.636678,0.415225,0.613343,NaN
28,INDIAN OVERSEAS BANK,PUBLIC,0.991347,0.861547,0.121687,0.644673,0.521363,0.702421,NaN
29,ANDHRA BANK,PUBLIC,0.995926,0.898144,0.181077,0.648257,0.430059,0.706027,NaN
30,STATE BANK OF MYSORE,PUBLIC,0.991347,0.956193,0.019470,0.647918,0.493239,0.837977,Q4
31,BANK OF MAHARASHTRA,PUBLIC,0.994646,0.899465,0.100535,0.651993,0.464010,0.842707,NaN
32,KARNATAKA BANK LTD.,PRIVATE,0.997934,0.867769,0.167355,0.628099,0.495868,0.962613,NaN
33,PUNJAB NATIONAL BANK,PUBLIC,0.995556,0.840000,0.059753,0.654815,0.497778,0.991011,NaN
34,DHANLAXMI BANK LTD.,PRIVATE,0.995556,0.945556,0.010000,0.660000,0.444444,1.028245,NaN
35,STATE BANK OF BIKANER & JAIPUR,PUBLIC,0.998576,0.908864,0.017444,0.640797,0.460662,1.070218,NaN
36,VIJAYA BANK,PUBLIC,0.994375,0.924375,0.090000,0.655000,0.488750,1.072047,NaN
37,UCO BANK,PUBLIC,0.997732,0.918367,0.127551,0.634921,0.500000,1.190718,NaN
38,SOUTH INDIAN BANK LTD.,PRIVATE,0.997732,0.888889,0.145125,0.662131,0.489796,1.358859,NaN
39,JAMMU & KASHMIR BANK LTD.,PRIVATE,1.000000,0.852071,0.072485,0.653846,0.565089,1.813725,NaN

In [120]:
df_index_2015.rename(columns={'company': 'Company'}, inplace=True)
df_index_2016.rename(columns={'company': 'Company'}, inplace=True)
df_index_2017.rename(columns={'company': 'Company'}, inplace=True)
df_index_2018.rename(columns={'company': 'Company'}, inplace=True)

In [121]:
df_index_2018

,Company,Sector,gen_index,educ_index,exp_index,ten_index,age_index,z_total_index,Quartiles
0,BANDHAN BANK LTD.,PRIVATE,0.979592,0.489796,0.250000,0.000000,0.489796,-2.997842,Q1
1,IDFC FIRST BANK LTD.,PRIVATE,0.979592,0.265306,0.183673,0.132653,0.561225,-2.824592,NaN
2,I C I C I BANK LTD.,PRIVATE,0.972222,0.555555,0.183673,0.617914,0.444444,-1.648002,NaN
3,YES BANK LTD.,PRIVATE,0.990930,0.419501,0.081633,0.612245,0.244898,-1.472443,NaN
4,AXIS BANK LTD.,PRIVATE,0.983563,0.408284,0.094675,0.633794,0.426036,-1.224530,NaN
5,KARUR VYSYA BANK LTD.,PRIVATE,0.998264,0.555555,0.027778,0.642361,0.079861,-1.213941,NaN
6,FEDERAL BANK LTD.,PRIVATE,0.995244,0.614744,0.304399,0.627824,0.185494,-0.912816,NaN
7,INDUSIND BANK LTD.,PRIVATE,0.990930,0.616780,0.145125,0.444444,0.444444,-0.740876,NaN
8,AU SMALL FINANCE BANK LTD.,PRIVATE,0.991735,0.595041,0.033058,0.661157,0.314050,-0.589452,NaN
9,UNITED BANK OF INDIA,PUBLIC,0.980530,0.804759,0.026501,0.655489,0.454300,-0.345552,NaN
10,I D B I BANK LTD.,PRIVATE,0.992757,0.380263,0.163422,0.657311,0.499774,-0.287149,Q2
11,D C B BANK LTD.,PRIVATE,0.993600,0.360000,0.014400,0.620800,0.534400,-0.249555,NaN
12,H D F C BANK LTD.,PRIVATE,0.992439,0.629490,0.047259,0.604915,0.423440,-0.199669,NaN
13,BANK OF INDIA,PUBLIC,0.990930,0.691358,0.064500,0.651046,0.378937,-0.197597,NaN
14,LAKSHMI VILAS BANK LTD.,PRIVATE,0.995838,0.624350,0.149844,0.611863,0.382935,-0.115243,NaN
15,KARNATAKA BANK LTD.,PRIVATE,0.994083,0.852071,0.119822,0.576923,0.310651,-0.107310,NaN
16,KOTAK MAHINDRA BANK LTD.,PRIVATE,0.997230,0.457064,0.002770,0.598338,0.498615,0.014454,NaN
17,BANK OF BARODA,PUBLIC,0.991735,0.547438,0.206612,0.662479,0.493884,0.018537,NaN
18,R B L BANK LTD.,PRIVATE,0.996914,0.626543,0.077161,0.648148,0.401235,0.147930,NaN
19,CANARA BANK,PUBLIC,0.990325,0.724805,0.154797,0.644450,0.489116,0.254179,NaN
20,STATE BANK OF INDIA,PUBLIC,0.992215,0.671064,0.070069,0.662197,0.478806,0.275085,NaN
21,BANK OF MAHARASHTRA,PUBLIC,0.988683,0.884111,0.088728,0.613852,0.497963,0.447806,Q3
22,INDIAN OVERSEAS BANK,PUBLIC,0.990754,0.821006,0.119822,0.642012,0.499260,0.537722,NaN
23,CITY UNION BANK LTD.,PRIVATE,0.996540,0.581315,0.086505,0.664360,0.525952,0.562372,NaN
24,CORPORATION BANK,PUBLIC,0.997130,0.693559,0.115115,0.637117,0.477041,0.583846,NaN
25,DHANLAXMI BANK LTD.,PRIVATE,0.994646,0.928019,0.005354,0.654372,0.379536,0.616278,NaN
26,UNION BANK OF INDIA,PUBLIC,0.995556,0.715556,0.187778,0.639444,0.499445,0.621202,NaN
27,INDIAN BANK,PUBLIC,0.995926,0.693979,0.115890,0.660933,0.488909,0.621221,NaN
28,DENA BANK,PUBLIC,0.997325,0.695600,0.107313,0.647443,0.478597,0.639770,NaN
29,CENTRAL BANK OF INDIA,PUBLIC,0.990754,0.836908,0.106879,0.639793,0.518491,0.643747,NaN
30,ORIENTAL BANK OF COMMERCE,PUBLIC,0.995404,0.916978,0.018385,0.661304,0.379201,0.663305,NaN
31,SOUTH INDIAN BANK LTD.,PRIVATE,0.998110,0.879017,0.153119,0.631380,0.385633,0.697700,Q4
32,ALLAHABAD BANK,PUBLIC,0.993056,0.826389,0.173611,0.646667,0.497778,0.717975,NaN
33,SYNDICATE BANK,PUBLIC,0.994711,0.740826,0.174876,0.651901,0.517025,0.728509,NaN
34,PUNJAB NATIONAL BANK,PUBLIC,0.995404,0.790577,0.056306,0.663028,0.492962,0.829420,NaN
35,ANDHRA BANK,PUBLIC,0.993849,0.861207,0.186082,0.626682,0.519031,0.876122,NaN
36,VIJAYA BANK,PUBLIC,0.996672,0.893121,0.062500,0.659024,0.481509,1.095227,NaN
37,JAMMU & KASHMIR BANK LTD.,PRIVATE,0.997500,0.774375,0.050625,0.633750,0.563750,1.128780,NaN
38,UCO BANK,PUBLIC,0.996252,0.893378,0.093711,0.629738,0.536443,1.195034,NaN
39,PUNJAB & SIND BANK,PUBLIC,0.996400,0.921600,0.014400,0.661600,0.496800,1.210350,NaN

In [123]:
df_2016

,sa_finance1_cocode,Company,sa_finance1_year,sa_ann_rep_months,sa_fs_format,sa_pct_shares_hld_govt,sa_bd_tot_risk_wt_ast_and_contingencies,sa_bsl_cap_adeq_ratio,sa_bsl_t1_cap_adeq_ratio,sa_bsl_tot_elg_cap,...,sa_bd_divergence_gross_npa,sa_bd_net_npa_bank,sa_bd_net_npa_rbi,sa_bd_divergence_net_npa,sa_bd_credit_deposit_ratio,sa_net_int_margin,sa_bd_int_spread,sa_bd_avg_ret_on_adv,sa_bd_avg_cost_of_deposits,Year
8,4800,ABHYUDAYA CO-OP. BANK LTD.,20160331,12,IGAAP,NaN,67047.7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.49,2016
16,4950,ABU DHABI COMMERCIAL BANK LTD.,20160331,12,IGAAP,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
28,11019,ALLAHABAD BANK,20160331,12,IGAAP,61.38,NaN,10.73,7.3,NaN,...,NaN,NaN,NaN,NaN,79.43,2.65,-4.52,9.24,NaN,2016
39,15214,ANDHRA BANK,20160331,12,IGAAP,61.26,NaN,11.86,8.96,NaN,...,NaN,NaN,NaN,NaN,78.3,3.18,NaN,10.71,7.18,2016
50,18056,APNA SAHAKARI BANK LTD.,20160331,12,IGAAP,NaN,20479.8,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.93,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1259,512651,I D F C FIRST BANK LTD.,20160331,12,IGAAP,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.05,NaN,NaN,NaN,2016
1264,524457,BANDHAN BANK LTD.,20160331,12,IGAAP,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.44,NaN,NaN,NaN,2016
1269,541024,DOHA BANK Q S C,20160331,12,IGAAP,NaN,NaN,48.26,48.19,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
1274,544229,S B M BANK (MAURITIUS) LTD.,20160331,12,IGAAP,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
1305,580124,FINO PAYMENTS BANK LTD.,20160331,12,INDAS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016

In [124]:
findata_2019 = pd.merge(df_index_2019, df_2019, on='Company')
findata_2018 = pd.merge(df_index_2018, df_2018, on='Company')
findata_2017 = pd.merge(df_index_2017, df_2017, on='Company')
findata_2016 = pd.merge(df_index_2016, df_2016, on='Company')
findata_2015 = pd.merge(df_index_2015, df_2015, on='Company')
findata_2019

,Company,Sector,gen_index,educ_index,exp_index,ten_index,age_index,z_total_index,Quartiles,sa_finance1_cocode,...,sa_bd_divergence_gross_npa,sa_bd_net_npa_bank,sa_bd_net_npa_rbi,sa_bd_divergence_net_npa,sa_bd_credit_deposit_ratio,sa_net_int_margin,sa_bd_int_spread,sa_bd_avg_ret_on_adv,sa_bd_avg_cost_of_deposits,Year
0,BANDHAN BANK LTD.,PRIVATE,0.987654,0.395062,0.308642,0.277778,0.660494,-2.196645,NaN,524457,...,NaN,NaN,NaN,NaN,NaN,10.43,NaN,NaN,NaN,2019
1,I C I C I BANK LTD.,PRIVATE,0.974400,0.510000,0.193600,0.597600,0.608800,-1.579777,NaN,96379,...,NaN,NaN,NaN,NaN,NaN,3.42,2.93,8.96,487,2019
2,INDUSIND BANK LTD.,PRIVATE,0.985600,0.640000,0.129600,0.518400,0.435200,-1.554394,NaN,100224,...,NaN,NaN,NaN,NaN,NaN,3.8,NaN,11.26,6.58,2019
3,KARNATAKA BANK LTD.,PRIVATE,0.994083,0.852071,0.119822,0.511834,0.310651,-0.986984,NaN,117230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
4,KARUR VYSYA BANK LTD.,PRIVATE,0.998521,0.520710,0.023669,0.639053,0.269231,-0.918575,NaN,117648,...,NaN,NaN,NaN,NaN,NaN,3.67,NaN,9.75,5.8,2019
5,AXIS BANK LTD.,PRIVATE,0.985128,0.390839,0.085663,0.647234,0.590125,-0.848999,NaN,256066,...,NaN,NaN,NaN,NaN,NaN,3.43,NaN,9.44,5.12,2019
6,YES BANK LTD.,PRIVATE,0.989298,0.424495,0.118906,0.653983,0.565993,-0.521029,NaN,354608,...,NaN,NaN,NaN,NaN,106.01,3.2,NaN,NaN,NaN,2019
7,D C B BANK LTD.,PRIVATE,0.993600,0.360000,0.014400,0.601600,0.595200,-0.472367,NaN,59045,...,NaN,NaN,NaN,NaN,NaN,3.83,NaN,NaN,NaN,2019
8,I D B I BANK LTD.,PRIVATE,0.994898,0.325255,0.168686,0.660076,0.531250,-0.425756,Q2,100283,...,42522.1,286651.4,288869.4,2218,NaN,NaN,NaN,NaN,NaN,2019
9,LAKSHMI VILAS BANK LTD.,PRIVATE,0.996094,0.609375,0.165039,0.654297,0.447266,-0.084954,NaN,126471,...,1417,14578.9,14370.9,-208,NaN,1.65,NaN,NaN,NaN,2019
10,BANK OF BARODA,PUBLIC,0.993056,0.533056,0.173611,0.659444,0.546111,-0.047295,NaN,30136,...,NaN,NaN,NaN,NaN,80.27,2.72,2.71,7.65,4.68,2019
11,UNITED BANK OF INDIA,PUBLIC,0.982222,0.802469,0.031605,0.636049,0.631111,-0.043245,NaN,257827,...,270,103163,97133,-6030,54.17,2.1,NaN,7.49,4.96,2019
12,CANARA BANK,PUBLIC,0.987253,0.716701,0.137617,0.644641,0.580645,-0.015373,NaN,41860,...,NaN,NaN,NaN,NaN,NaN,2.63,NaN,8.39,5.66,2019
13,FEDERAL BANK LTD.,PRIVATE,0.995838,0.662851,0.300728,0.636837,0.480749,0.067273,NaN,72607,...,NaN,NaN,NaN,NaN,NaN,3.14,NaN,9.24,5.78,2019
14,STATE BANK OF INDIA,PUBLIC,0.992653,0.673469,0.066123,0.639592,0.532245,0.075773,NaN,236328,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.02,NaN,2019
15,KOTAK MAHINDRA BANK LTD.,PRIVATE,0.997934,0.402893,0.002066,0.599174,0.648760,0.168975,NaN,122573,...,NaN,NaN,NaN,NaN,91.1,4.3,NaN,NaN,NaN,2019
16,BANK OF INDIA,PUBLIC,0.988037,0.683594,0.054932,0.639160,0.634766,0.171342,NaN,30148,...,2450,282072.7,270333.7,-11739,NaN,2.56,NaN,8.23,4.5,2019
17,SOUTH INDIAN BANK LTD.,PRIVATE,0.998400,0.840000,0.129600,0.620800,0.403200,0.251656,Q3,231715,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
18,CORPORATION BANK,PUBLIC,0.995404,0.687159,0.126688,0.625108,0.537776,0.268595,NaN,51380,...,3816,140770.2,138368.2,-2402,65.69,3.05,NaN,9.43,5.4,2019
19,H D F C BANK LTD.,PRIVATE,0.994083,0.621302,0.036982,0.642012,0.576923,0.269729,NaN,88297,...,NaN,NaN,NaN,NaN,NaN,4.3,NaN,NaN,NaN,2019
20,INDIAN OVERSEAS BANK,PUBLIC,0.990754,0.821006,0.119822,0.629438,0.565089,0.344117,NaN,98918,...,3376,203996.6,207372.6,3376,NaN,2.08,NaN,7.41,5.39,2019
21,BANK OF MAHARASHTRA,PUBLIC,0.989588,0.865056,0.081633,0.613078,0.598917,0.412311,NaN,30153,...,1292,96411.9,94530.8,-1881.1,66.45,2.53,NaN,NaN,4.99,2019
22,R B L BANK LTD.,PRIVATE,0.997230,0.601108,0.069252,0.637119,0.570637,0.416222,NaN,194815,...,NaN,NaN,NaN,NaN,NaN,4.14,NaN,NaN,NaN,2019
23,INDIAN BANK,PUBLIC,0.993600,0.708400,0.102400,0.663200,0.578400,0.537911,NaN,98668,...,1785,59595.6,60009.6,414,77.62,2.96,NaN,8.45,5.28,2019
24,ALLAHABAD BANK,PUBLIC,0.993701,0.816326,0.183673,0.644999,0.543714,0.548506,NaN,11019,...,11287,122291,129383,7092,76.32,2.58,NaN,7.89,5.1,2019
25,CENTRAL BANK OF INDIA,PUBLIC,0.988920,0.822715,0.111111,0.650046,0.634657,0.601832,NaN,43461,...,6362,173778.7,178306.7,4528,55.94,2.54,NaN,7.28,5.21,2019
26,ANDHRA BANK,PUBLIC,0.994083,0.852071,0.195636,0.606509,0.582101,0.625931,Q4,15214,...,1098,126368.7,121651.7,-4717,81.29,3.31,NaN,8.54,5.53,2019
27,CITY UNION BANK LTD.,PRIVATE,0.996540,0.581315,0.086505,0.650519,0.657439,0.750626,NaN,48177,...,NaN,NaN,NaN,NaN,NaN,4.32,NaN,10.95,6.17,2019
28,PUNJAB NATIONAL BANK,PUBLIC,0.993281,0.773985,0.060468,0.657350,0.640150,0.888900,NaN,183861,...,8957,486842.9,458131.9,-28711,67.79,2.41,NaN,7.72,5.14,2019
29,UNION BANK OF INDIA,PUBLIC,0.996213,0.675976,0.172544,0.658935,0.645680,0.928181,NaN,257360,...,8670,243260,229120,-14140,79.27,2.23,2.05,7.71,5.57,2019
30,SYNDICATE BANK,PUBLIC,0.995244,0.766944,0.143876,0.659334,0.618906,0.944991,NaN,245437,...,NaN,NaN,NaN,NaN,83.55,2.42,NaN,7.52,5.13,2019
31,JAMMU & KASHMIR BANK LTD.,PRIVATE,0.997732,0.795351,0.045918,0.611111,0.624717,0.982828,NaN,107160,...,5090,27911.2,31948.2,4037,49.52,NaN,NaN,9.05,4.9,2019
32,DHANLAXMI BANK LTD.,PRIVATE,0.991735,0.912707,0.012913,0.648760,0.631198,0.997175,NaN,59594,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
33,UCO BANK,PUBLIC,0.996672,0.880177,0.083210,0.639053,0.592456,1.093620,NaN,256249,...,-26.8,140820.7,134186.3,-6634.4,60.42,1.84,NaN,9.52,5.07,2019
34,ORIENTAL BANK OF COMMERCE,PUBLIC,0.995700,0.912927,0.026874,0.623488,0.643913,1.229750,NaN,164888,...,NaN,NaN,NaN,NaN,73.77,2.18,NaN,NaN,5.64,2019
35,PUNJAB & SIND BANK,PUBLIC,0.996672,0.916790,0.013314,0.644231,0.648669,1.436727,NaN,183764,...,868,46078.7,45245.7,-833,NaN,NaN,NaN,8.61,6.01,2019

In [125]:
findata_2018

,Company,Sector,gen_index,educ_index,exp_index,ten_index,age_index,z_total_index,Quartiles,sa_finance1_cocode,...,sa_bd_divergence_gross_npa,sa_bd_net_npa_bank,sa_bd_net_npa_rbi,sa_bd_divergence_net_npa,sa_bd_credit_deposit_ratio,sa_net_int_margin,sa_bd_int_spread,sa_bd_avg_ret_on_adv,sa_bd_avg_cost_of_deposits,Year
0,BANDHAN BANK LTD.,PRIVATE,0.979592,0.489796,0.250000,0.000000,0.489796,-2.997842,Q1,524457,...,NaN,NaN,NaN,NaN,NaN,9.69,NaN,NaN,NaN,2018
1,I C I C I BANK LTD.,PRIVATE,0.972222,0.555555,0.183673,0.617914,0.444444,-1.648002,NaN,96379,...,NaN,NaN,NaN,NaN,NaN,3.23,2.71,8.63,487,2018
2,YES BANK LTD.,PRIVATE,0.990930,0.419501,0.081633,0.612245,0.244898,-1.472443,NaN,354608,...,63552,10722.7,58916.2,48193.5,101.4,3.5,NaN,NaN,NaN,2018
3,AXIS BANK LTD.,PRIVATE,0.983563,0.408284,0.094675,0.633794,0.426036,-1.224530,NaN,256066,...,56328,86265.5,129436.5,43171,NaN,3.44,NaN,9.12,4.89,2018
4,KARUR VYSYA BANK LTD.,PRIVATE,0.998264,0.555555,0.027778,0.642361,0.079861,-1.213941,NaN,117648,...,6509,10334.6,12354.6,2020,NaN,3.86,NaN,10.29,5.99,2018
5,FEDERAL BANK LTD.,PRIVATE,0.995244,0.614744,0.304399,0.627824,0.185494,-0.912816,NaN,72607,...,NaN,NaN,NaN,NaN,NaN,3.21,NaN,9.53,5.84,2018
6,INDUSIND BANK LTD.,PRIVATE,0.990930,0.616780,0.145125,0.444444,0.444444,-0.740876,NaN,100224,...,13502,4389.1,14400.3,10011.2,NaN,3.99,NaN,11.21,5.98,2018
7,UNITED BANK OF INDIA,PUBLIC,0.980530,0.804759,0.026501,0.655489,0.454300,-0.345552,NaN,257827,...,98027,65918.5,71573.5,5655,53.11,1.66,NaN,7.35,5.3,2018
8,I D B I BANK LTD.,PRIVATE,0.992757,0.380263,0.163422,0.657311,0.499774,-0.287149,Q2,100283,...,102819,252058,310236,58178,NaN,NaN,NaN,NaN,NaN,2018
9,D C B BANK LTD.,PRIVATE,0.993600,0.360000,0.014400,0.620800,0.534400,-0.249555,NaN,59045,...,NaN,NaN,NaN,NaN,NaN,4.16,NaN,NaN,NaN,2018
10,H D F C BANK LTD.,PRIVATE,0.992439,0.629490,0.047259,0.604915,0.423440,-0.199669,NaN,88297,...,20517.6,18439.9,31023.6,12583.7,83,4.3,NaN,NaN,NaN,2018
11,BANK OF INDIA,PUBLIC,0.990930,0.691358,0.064500,0.651046,0.378937,-0.197597,NaN,30148,...,140570,253050,350120,97070,NaN,1.92,NaN,7.15,4.58,2018
12,LAKSHMI VILAS BANK LTD.,PRIVATE,0.995838,0.624350,0.149844,0.611863,0.382935,-0.115243,NaN,126471,...,1695,4184.2,4976.2,792,NaN,2.38,NaN,NaN,NaN,2018
13,KARNATAKA BANK LTD.,PRIVATE,0.994083,0.852071,0.119822,0.576923,0.310651,-0.107310,NaN,117230,...,11151,9747.3,16425.9,6678.6,NaN,NaN,NaN,NaN,NaN,2018
14,KOTAK MAHINDRA BANK LTD.,PRIVATE,0.997230,0.457064,0.002770,0.598338,0.498615,0.014454,NaN,122573,...,NaN,NaN,NaN,NaN,88.1,4.4,NaN,NaN,NaN,2018
15,BANK OF BARODA,PUBLIC,0.991735,0.547438,0.206612,0.662479,0.493884,0.018537,NaN,30136,...,29187,180801.8,203413.8,22612,76.92,2.43,2.26,7.13,4.5,2018
16,R B L BANK LTD.,PRIVATE,0.996914,0.626543,0.077161,0.648148,0.401235,0.147930,NaN,194815,...,NaN,NaN,NaN,NaN,NaN,3.8,NaN,NaN,NaN,2018
17,CANARA BANK,PUBLIC,0.990325,0.724805,0.154797,0.644450,0.489116,0.254179,NaN,41860,...,32485,216489.8,234962.6,18472.8,NaN,2.42,NaN,8.12,5.6,2018
18,STATE BANK OF INDIA,PUBLIC,0.992215,0.671064,0.070069,0.662197,0.478806,0.275085,NaN,236328,...,232391.3,582773.8,757958.5,175184.7,NaN,NaN,NaN,-0.19,NaN,2018
19,BANK OF MAHARASHTRA,PUBLIC,0.988683,0.884111,0.088728,0.613852,0.497963,0.447806,Q3,30153,...,2336,112295.6,113384.5,1088.9,68.1,2.32,NaN,NaN,5.31,2018
20,INDIAN OVERSEAS BANK,PUBLIC,0.990754,0.821006,0.119822,0.642012,0.499260,0.537722,NaN,98918,...,24794,197493.3,222287.3,24794,NaN,2.19,NaN,7.91,5.49,2018
21,CITY UNION BANK LTD.,PRIVATE,0.996540,0.581315,0.086505,0.664360,0.525952,0.562372,NaN,48177,...,NaN,NaN,NaN,NaN,NaN,4.42,NaN,11.46,6.29,2018
22,CORPORATION BANK,PUBLIC,0.997130,0.693559,0.115115,0.637117,0.477041,0.583846,NaN,51380,...,51871,116921.8,145521.8,28600,65.39,2.32,NaN,8.91,5.74,2018
23,DHANLAXMI BANK LTD.,PRIVATE,0.994646,0.928019,0.005354,0.654372,0.379536,0.616278,NaN,59594,...,244,1664.8,1856.8,192,NaN,NaN,NaN,NaN,NaN,2018
24,UNION BANK OF INDIA,PUBLIC,0.995556,0.715556,0.187778,0.639444,0.499445,0.621202,NaN,257360,...,28500,188320,206670,18350,78.18,NaN,1.91,7.67,5.66,2018
25,INDIAN BANK,PUBLIC,0.995926,0.693979,0.115890,0.660933,0.488909,0.621221,NaN,98668,...,5438,56065.7,56196,130.3,78.12,2.9,NaN,8.5,5.4,2018
26,CENTRAL BANK OF INDIA,PUBLIC,0.990754,0.836908,0.106879,0.639793,0.518491,0.643747,NaN,43461,...,16598,142180,155148,12968,60.2,2.47,NaN,8.31,5.53,2018
27,ORIENTAL BANK OF COMMERCE,PUBLIC,0.995404,0.916978,0.018385,0.661304,0.379201,0.663305,NaN,164888,...,9679,141178.3,133920.3,-7258,71.5,2.73,NaN,NaN,5.67,2018
28,SOUTH INDIAN BANK LTD.,PRIVATE,0.998110,0.879017,0.153119,0.631380,0.385633,0.697700,Q4,231715,...,83.9,6745.6,6594.3,-151.3,NaN,NaN,NaN,NaN,NaN,2018
29,ALLAHABAD BANK,PUBLIC,0.993056,0.826389,0.173611,0.646667,0.497778,0.717975,NaN,11019,...,10778,134335.1,143589.1,9254,78.64,2.2,NaN,7.61,5.33,2018
30,SYNDICATE BANK,PUBLIC,0.994711,0.740826,0.174876,0.651901,0.517025,0.728509,NaN,245437,...,23367,104109.8,121351.8,17242,81.88,2.44,NaN,7.51,5.1,2018
31,PUNJAB NATIONAL BANK,PUBLIC,0.995404,0.790577,0.056306,0.663028,0.492962,0.829420,NaN,183861,...,22071,327021,341170,14149,67.54,2.16,NaN,7.49,4.96,2018
32,ANDHRA BANK,PUBLIC,0.993849,0.861207,0.186082,0.626682,0.519031,0.876122,NaN,15214,...,7008,103548.1,107343.1,3795,79.1,3.31,NaN,8.84,5.57,2018
33,JAMMU & KASHMIR BANK LTD.,PRIVATE,0.997500,0.774375,0.050625,0.633750,0.563750,1.128780,NaN,107160,...,9090,24253.7,32131.8,7878.1,46.84,NaN,NaN,8.77,5.01,2018
34,UCO BANK,PUBLIC,0.996252,0.893378,0.093711,0.629738,0.536443,1.195034,NaN,256249,...,14191.1,107033.9,113034.8,6000.9,68.18,1.32,NaN,8.69,5.37,2018
35,PUNJAB & SIND BANK,PUBLIC,0.996400,0.921600,0.014400,0.661600,0.496800,1.210350,NaN,183764,...,5427,43750.8,47002.8,3252,NaN,NaN,NaN,8.8,5.93,2018

In [126]:
findata_2017

,Company,Sector,gen_index,educ_index,exp_index,ten_index,age_index,z_total_index,Quartiles,sa_finance1_cocode,...,sa_bd_divergence_gross_npa,sa_bd_net_npa_bank,sa_bd_net_npa_rbi,sa_bd_divergence_net_npa,sa_bd_credit_deposit_ratio,sa_net_int_margin,sa_bd_int_spread,sa_bd_avg_ret_on_adv,sa_bd_avg_cost_of_deposits,Year
0,KARUR VYSYA BANK LTD.,PRIVATE,0.998110,0.574669,0.030246,0.642722,0.083176,-1.566607,NaN,117648,...,2199.2,2161.7,4360.9,2199.2,NaN,3.7,NaN,11.34,6.6,2017
1,I C I C I BANK LTD.,PRIVATE,0.977500,0.577500,0.180625,0.603750,0.468750,-1.357761,NaN,96379,...,51046.1,129630.8,169968.9,40338.1,NaN,3.25,2.64,8.88,5.39,2017
2,AXIS BANK LTD.,PRIVATE,0.982687,0.417590,0.099723,0.653740,0.432133,-1.306358,NaN,256066,...,94779,25221.4,96852.4,71631,NaN,3.67,NaN,9.77,5.54,2017
3,INDUSIND BANK LTD.,PRIVATE,0.990930,0.616780,0.145125,0.526077,0.444444,-0.850774,NaN,100224,...,5602.1,3217.5,6375.5,3158,NaN,3.99,NaN,11.71,6.41,2017
4,D C B BANK LTD.,PRIVATE,0.992439,0.317580,0.017013,0.601134,0.499055,-0.827189,NaN,59045,...,NaN,NaN,NaN,NaN,NaN,4.04,NaN,NaN,NaN,2017
5,FEDERAL BANK LTD.,PRIVATE,0.994898,0.631378,0.286990,0.660714,0.244898,-0.822485,NaN,72607,...,NaN,NaN,NaN,NaN,NaN,3.31,NaN,10.43,6.25,2017
6,YES BANK LTD.,PRIVATE,0.997500,0.437500,0.090000,0.655000,0.320000,-0.776318,NaN,354608,...,41767,2844.7,36031.5,33186.8,92.6,3.4,NaN,NaN,NaN,2017
7,LAKSHMI VILAS BANK LTD.,PRIVATE,0.995244,0.656362,0.118906,0.549346,0.366231,-0.718221,NaN,126471,...,NaN,NaN,NaN,NaN,NaN,2.85,NaN,NaN,NaN,2017
8,UNITED BANK OF INDIA,PUBLIC,0.977500,0.840000,0.030625,0.651250,0.488750,-0.434557,Q2,257827,...,NaN,NaN,NaN,NaN,55.54,1.6,NaN,8.95,6,2017
9,H D F C BANK LTD.,PRIVATE,0.992439,0.629490,0.047259,0.612476,0.423440,-0.402808,NaN,88297,...,NaN,NaN,NaN,NaN,86,4.3,NaN,NaN,NaN,2017
10,BANK OF INDIA,PUBLIC,0.990000,0.715556,0.054444,0.659444,0.391111,-0.291803,NaN,30148,...,NaN,NaN,NaN,NaN,NaN,2.2,NaN,7.98,4.84,2017
11,CITY UNION BANK LTD.,PRIVATE,0.994898,0.586735,0.127551,0.622449,0.438775,-0.217998,NaN,48177,...,825,3231.5,3900.5,669,NaN,4.17,NaN,12.1,6.82,2017
12,I D B I BANK LTD.,PRIVATE,0.995132,0.411033,0.138453,0.659816,0.499730,-0.147311,NaN,100283,...,68166,146433.9,193989.9,47556,NaN,NaN,NaN,NaN,NaN,2017
13,KOTAK MAHINDRA BANK LTD.,PRIVATE,0.997230,0.457064,0.002770,0.631579,0.498615,-0.041243,NaN,122573,...,NaN,NaN,NaN,NaN,86.4,4.5,NaN,NaN,NaN,2017
14,R B L BANK LTD.,PRIVATE,0.996914,0.626543,0.077161,0.648148,0.401235,-0.040572,NaN,194815,...,3393,1244.4,3263.4,2019,NaN,3.29,NaN,NaN,NaN,2017
15,BANK OF BARODA,PUBLIC,0.994304,0.563902,0.222499,0.662157,0.483446,0.085136,NaN,30136,...,NaN,NaN,NaN,NaN,71.86,2.19,2.01,7.27,4.78,2017
16,CANARA BANK,PUBLIC,0.990000,0.715556,0.160000,0.662778,0.472778,0.099289,NaN,41860,...,5073,208329.1,208630.6,301.5,NaN,2.23,NaN,8.99,6.25,2017
17,INDIAN BANK,PUBLIC,0.995351,0.726756,0.116219,0.641529,0.449380,0.274570,Q3,98668,...,NaN,NaN,NaN,NaN,72.4,2.59,NaN,9.17,6.03,2017
18,INDIAN OVERSEAS BANK,PUBLIC,0.989588,0.816326,0.134944,0.662224,0.474802,0.310043,NaN,98918,...,8175,192125.7,194929.7,2804,NaN,2.03,NaN,8.92,6.17,2017
19,CORPORATION BANK,PUBLIC,0.996914,0.711591,0.111111,0.657750,0.431413,0.339658,NaN,51380,...,19538,91601.4,104061.4,12460,63.64,2.12,1.86,9.85,6.74,2017
20,STATE BANK OF INDIA,PUBLIC,0.993896,0.665771,0.070557,0.662598,0.500000,0.370242,NaN,236328,...,NaN,NaN,NaN,NaN,NaN,2.84,NaN,0.41,NaN,2017
21,KARNATAKA BANK LTD.,PRIVATE,0.998264,0.888889,0.111111,0.621528,0.375000,0.405258,NaN,117230,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
22,ORIENTAL BANK OF COMMERCE,PUBLIC,0.995075,0.921207,0.015082,0.666667,0.370576,0.461773,NaN,164888,...,13497,103714.3,117211.3,13497,75.92,2.42,NaN,NaN,6.33,2017
23,CENTRAL BANK OF INDIA,PUBLIC,0.989588,0.833403,0.120367,0.665556,0.516451,0.556589,NaN,43461,...,20971.5,132418,146443.5,14025.5,51.57,2.51,NaN,9.01,6.2,2017
24,SYNDICATE BANK,PUBLIC,0.994083,0.730399,0.195636,0.661982,0.514053,0.592976,NaN,245437,...,6541,90148.7,92422.8,2274.1,79.47,2.37,NaN,8.34,5.86,2017
25,ALLAHABAD BANK,PUBLIC,0.995075,0.807633,0.177285,0.656817,0.473992,0.628392,NaN,11019,...,9730,102925.1,110074.3,7149.2,79.03,2.54,NaN,8.41,NaN,2017
26,DHANLAXMI BANK LTD.,PRIVATE,0.997230,0.930748,0.006233,0.649585,0.400277,0.682752,Q4,59594,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
27,BANK OF MAHARASHTRA,PUBLIC,0.992439,0.879017,0.092628,0.662571,0.484877,0.693324,NaN,30153,...,30336,68320.3,98656.3,30336,73.02,2.16,NaN,NaN,6.05,2017
28,UNION BANK OF INDIA,PUBLIC,0.997130,0.731824,0.199298,0.661352,0.494260,0.706645,NaN,257360,...,NaN,NaN,NaN,NaN,81.45,NaN,2.07,8.72,6.28,2017
29,PUNJAB NATIONAL BANK,PUBLIC,0.994711,0.809587,0.047603,0.662479,0.495868,0.736047,NaN,183861,...,1375.3,354225.6,347995.3,-6230.3,67.47,2.38,NaN,8.29,5.33,2017
30,SOUTH INDIAN BANK LTD.,PRIVATE,0.997934,0.867769,0.167355,0.615703,0.495868,0.861817,NaN,231715,...,5650.7,11852.6,15643.9,3791.3,NaN,NaN,NaN,NaN,NaN,2017
31,ANDHRA BANK,PUBLIC,0.996094,0.888889,0.191406,0.643229,0.493924,0.909986,NaN,15214,...,8768.9,60356.5,67286.5,6930,73.82,3.07,NaN,9.77,6.43,2017
32,PUNJAB & SIND BANK,PUBLIC,0.995351,0.948347,0.012913,0.640496,0.490702,0.969051,NaN,183764,...,5386,29494.7,32541.7,3047,NaN,NaN,NaN,9.73,6.73,2017
33,UCO BANK,PUBLIC,0.995926,0.898144,0.101856,0.651879,0.534178,1.146360,NaN,256249,...,NaN,NaN,NaN,NaN,65.41,1.56,NaN,9.6,5.83,2017
34,JAMMU & KASHMIR BANK LTD.,PRIVATE,0.999135,0.853806,0.042388,0.659170,0.553633,1.383878,NaN,107160,...,18837,21639.5,35302.5,13663,43.41,NaN,NaN,10.02,5.87,2017

In [127]:
findata_2019.to_csv('findata_2019.csv', encoding='utf-8', index=False)
findata_2018.to_csv('findata_2018.csv', encoding='utf-8', index=False)
findata_2017.to_csv('findata_2017.csv', encoding='utf-8', index=False)
findata_2016.to_csv('findata_2016.csv', encoding='utf-8', index=False)
findata_2015.to_csv('findata_2015.csv', encoding='utf-8', index=False)

In [ ]:
#df_2019.to_csv('df_2019_metrics.csv', encoding='utf-8', index=False)